.mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.task-detail {
  display: flex;
  flex-direction: column;
  width: 100%;

  mat-label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  span {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
  }
}

.download-button {
  margin-top: 20px;
  margin-bottom: 20px; /* Ensure space below the download button */
}

.attachment-section {
  display: flex;
  align-items: center;
  width: 100%;

  mat-label {
    font-weight: bold;
    margin-right: 10px;
  }

  button[mat-raised-button] {
    margin-left: auto; /* Push the button to the right end */
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
}

button[mat-raised-button],
button[mat-button] {
  margin: 0 10px;
  flex: 1;
}

input[type="file"] {
  display: none;
}

mat-chip-listbox {
  width: 100%;
  margin-bottom: 10px;
}

mat-chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #e0e0e0;
  margin-bottom: 10px;

  mat-icon {
    cursor: pointer;
  }
}
