<app-top-bar></app-top-bar>

<div class="content">
  <div class="notification-panel">
    <button mat-raised-button (click)="toggleNotifications()">Requests</button>
    <mat-list *ngIf="showNotifications">
      <app-notification-short *ngFor="let notification of notifications" [notification]="notification"></app-notification-short>
    </mat-list>
  </div>

  <div class="information-panel">
    <h2>Android course</h2>
    <h3>Professor - Malik Montana</h3>
  </div>

  <div class="tasks-panel">
    <app-task-element-short *ngFor="let task of tasks" [task]="task"></app-task-element-short>
  </div>

  <div class="action-button">
    <button mat-raised-button (click)="openCreateTaskModal()">New task</button>
  </div>
</div>
