mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ada397;

  .spacer {
    flex: 1 1 auto;
  }

  button {
    margin-right: 8px;
    background-color: #ff6666;

  }
}
