<mat-dialog-content>
  <p>Type the task name to be deleted:</p>
  <mat-form-field>
    <mat-label>Task name</mat-label>
    <input matInput [formControl]="taskNameConfirm">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onDelete()"
          [disabled]="taskNameConfirm.invalid || taskNameConfirm.value !== data.assignmentName"
          cdkFocusInitial>Delete</button>
</mat-dialog-actions>
