<div class="course-element">
  <div class="course-info">
    <h3>{{ course?.courseName }}</h3>
  </div>
  <div *ngIf="!isStudent" class="button-group">
    <button mat-button (click)="editCourse(course)">Edit</button>
    <button mat-button (click)="openDeleteCourseModal(course)">Delete</button>
  </div>

  <div *ngIf="isStudent && !findMode" class="button-group">
    <button mat-button routerLink="/student-course-panel/{{ course?.id }}">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
  </div>

  <div *ngIf="isStudent && findMode" class="button-group">
    <button mat-button (click)="openJoinCourseModal(course)">
      <mat-icon fontIcon="add"></mat-icon>
    </button>
  </div>
</div>
